body{
    padding: 0;
    margin: 0;
    font-family: 'DM Sans';
}

header{
    display: flex;
    align-items: center;
    height: 65px;
    background-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 1.5px;
    border-bottom-color: rgb(200, 200, 200);
    padding: 0 80px;
}

.logo{
    display: flex;
    align-items: center;
    width: auto;
    font-size: 20px;
    font-weight: 600;
    margin-right: 30px;
}

.logo img{
    margin-right: 10px;
}

nav a{
    margin-right: 35px;
    font-weight: 500;
    font-size: 15px;
    transition: 0.2s;
    position: relative;
    text-decoration: none;
    color: black;
}

nav a:after{
    content: "";
    position: absolute;
    background-color: #880AEA;
    height: 2.5px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

nav a:hover:after{
    width: 100%;
}

.buttons{
    display: flex;
    margin-left: auto;
    align-items: center;
}

.new-request-btn{
    padding: 8px 25px;
    background-color: #880AEA;
    color: white;
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 14px;
    border-style: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.4s;
    margin-right: 25px;
}

.new-request-btn:hover{
    background-color: #890aea9f;
}

.buttons a{
    text-decoration: none;
}

.buttons .ph-bold{
    font-size: 20px;
    transition: 0.2s;
    margin-right: 25px;
}

.buttons .ph-bold:hover{
    color: #880AEA;
}

.user-profile-btn{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    cursor: pointer;
    border-style: none;
    background-image: url(../images/user-profile.png);
    background-size: cover;
    background-position: center;
}

.checkbtn{
    display: flex;
    cursor: pointer;
    display: none;
    float: right;
    margin-left: 25px;
}

#check{
    display: none;
}

.welcome{
    width: 100%;
    height: auto;
    padding-top: 100px;
    padding-bottom: 150px;
    background-image: url(../images/homepage_main.png);
    background-size: cover;
    background-position: center;
    color: white;
    font-family: 'DM Sans';
}

.welcome-content{
    margin-left: 80px;
    width: 40%;
}

.welcome-user{
    border-radius: 40px;
    color: white;
    font-size: 14px;
    background-color: transparent;
    border: solid 1px white;
    padding: 10px 20px;
    text-align: center;
    font-family: 'DM Sans';
}

.welcome-content h1{
    font-size: 54px;
}

.welcome-content h2{
    font-size: 20px;
    font-weight: 300;
    margin-top: -10px;
}

.new-request-main{
    margin-top: 20px;
    font-family: 'DM Sans';
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 24px;
    border-style: none;
    border-radius: 40px;
    transition: 0.3s;
    cursor: pointer;
}

.new-request-main:hover{
    background-color: #880AEA;
    color: white;
}

.seamless-communication{
    background-color: #ffffff;
    height: auto;
    width: 100%;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'DM Sans';
}

.seamless-content{
    width: 30%;
    margin-right: 30px;
}

.seamless-content h1{
    font-size: 48px;
}

.seamless-content h2{
    font-size: 18px;
    font-weight: 400;
    margin-top: -10px;
}

.open-dash-btn{
    background-color: #880AEA;
    color: white;
    font-family: 'DM Sans';
    padding: 12px 24px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 30px;
    border-style: none;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.open-dash-btn:hover{
    background-color: #890aeac5;
}

@media (max-width: 780px){
    nav a, .buttons .new-request-btn {
        display: none;
    }

    .checkbtn{
        display: flex;
    }

    header{
        padding: 0 60px;
    }

    .welcome-content h1{
        font-size: 7vw;
    }

    .welcome-content h2{
        font-size: 2.5vw;
    }

    .welcome-user{
        font-size: 1.5vw;
    }

    .new-request-main{
        font-size: 2vw;
    }
}

@media (max-width: 600px){
    .welcome-content{
        margin-left: 60px;
    }

    .welcome-content h1{
        font-size: 8vw;
    }

    .welcome-content h2{
        font-size: 3vw;
    }

    .new-request-main{
        font-size: 2.7vw;
    }

    .welcome-user{
        font-size: 2.2vw;
    }
}

@media (max-width: 425px){
    header{
        padding: 0 30px;
    }

    .welcome{
        padding-bottom: 80px;
        padding-top: 80px;
        background-image: linear-gradient(rgba(12, 12, 12, 0.1), rgba(12, 12, 12, 0.1)), url(../images/homepage_main.png)
    }

    .welcome-content{
        margin-left: 30px;
        width: 80%;
    }

    .welcome-content h1{
        font-size: 12vw;
    }

    .welcome-content h2{
        font-size: 4.5vw;
        font-weight: 400;
    }

    .new-request-main{
        font-size: 4vw;
    }

    .welcome-user{
        font-size: 4vw;
        padding: 7px 14px;
    }
}