<!DOCTYPE html>
<html lang="en">
    <header>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rocket</title>
        <link rel="stylesheet" href="styles/create_account_styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
        <script src="https://unpkg.com/@phosphor-icons/web"></script>
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/@phosphor-icons/web@2.1.1/src/bold/style.css"/>
    </header>
    <body>
        <section class="black-side">
            <div class="upper">
                <a href="../index.html" class="logo-link">
                    <div class="logo">
                        <img src="images/rocket-logo.png" alt="" width="27vh" height="27vh">
                        <span style="margin-left: 10px;">Rocket</span>
                    </div>
                </a>
                <div class="already-account">
                    Already have an account? <a href="login.html" class="login-link">Log In</a>
                </div>
            </div>
            <h1>Create an account</h1>
            <h2>Join us today. It's simple. It's efficient.</h2>
            <form action="" class="user-info">
                <div class="name-and-lastname">
                    <div class="mid-field">
                        <label>Name</label>
                        <input type="text" id="name" class="login-input" style="width: 13.5vw; margin-right: 2vw;">
                    </div>
                    <div class="mid-field">
                        <label>Last name</label>
                        <input type="text" id="lastname" class="login-input" style="width: 13.5vw;">
                    </div>
                </div>
                <label>Email address</label>
                <input type="text" id="email" class="login-input">
                <label>Set a username</label>
                <input type="text" id="username" class="login-input">
                <label>Create a password</label>
                <input type="password" id="password" class="login-input">
                <button class="create-account-btn">Create account</button>
            </form>
        </section>
        <section class="white-side">
            <h1>Launch your <span class="keyword">Ideas</span></h1>
            <h2>We're a team that works to help you<br>meet your goals.</h2>
            <img src="images/rocket-badge.png" alt="" width="320vw" height="290vw">
        </section>
    </body>
</html>