<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rocket</title>
        <link rel="stylesheet" href="styles/homepage_styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
        <script src="https://unpkg.com/@phosphor-icons/web"></script>
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/@phosphor-icons/web@2.1.1/src/bold/style.css"/>
    </head>
    <body>
        <header>
            <div class="logo">
                <img src="images/rocket-logo.png" alt="" width="30px" height="30px">
            </div>
            <nav>
                <a href="" class="nav-link" style="font-weight: 700;">Home</a>
                <a href="" class="nav-link">Dashboard</a>
                <a href="" class="nav-link">Resources</a>
            </nav>
            <div class="buttons">
                <a href="" class="notifs"><i class="ph-bold ph-bell"></i></a>
                <button class="new-request-btn">New request</button>
                <button class="user-profile-btn"></button>
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn" id="checkbtn">
                    <i class="ph ph-list" style="color: black; font-size: 22px;"></i>
                </label>
            </div>
        </header>

        <main class="welcome">
            <div class="welcome-content">
                <button class="welcome-user">
                    Welcome, Username
                </button>
                <h1>A collaborative space for ideation.</h1>
                <h2>Welcome to Rocket, a platform where collaboration sets the basis for breeding new ideas.</h2>
                <button class="new-request-main">Create a request</button>
            </div>
        </main>

        <section class="seamless-communication">
            <div class="seamless-content">
                <h1>Seamless Communication</h1>
                <h2>Rocket helps you to establish a clear perspective on each request you create.</h2>
                <button class="open-dash-btn">Open Dashboard</button>
            </div>
            <img src="images/seamless-img.png" alt="" width="275px" height="275px">
        </section>

        <div class="upcoming-features">
            <h1>New features are <span class="keyword">on the way.</span></h1>
            <div class="feature-row">
                <div class="feature-container" style="background-image: linear-gradient(rgba(0, 0, 0, 0.300), rgba(0, 0, 0, 0.300)), url(images/rocket-wallpaper2.jpg)">
                    <button class="welcome-user">Upcoming</button>
                    <h1>AI Integration</h1>
                    <h2>Aiming to produce more efficient, swift solutions, we are on the way to integrating Artificial Intelligence into our products.</h2>
                    <button class="learn-more-btn">Learn more</button>
                </div> 
                <div class="feature-container" style="background-image: linear-gradient(rgba(0, 0, 0, 0.222), rgba(0, 0, 0, 0.222)), url(images/rocket-wallpaper1.jpg)">
                    <button class="welcome-user">Upcoming</button>
                    <h1>Community</h1>
                    <h2>For those who work better with others. This is a space where users meet to share insights.</h2>
                    <button class="learn-more-btn">Learn more</button>
                </div>
            </div>
        </div>
        <footer>
            <div class="group">
                <div class="brand">
                    <div class="logo">
                        <img src="images/rocket-logo.png" alt="" width="40px" height="40px">
                        <span>Rocket</span>
                    </div><br>
                    <p>Shoot at the stars. Launch your ideas.</p>
                </div>
                <div class="box">
                    <h2>ABOUT US</h2>
                    <p>What is Rocket</p>
                    <p>Use Guideline</p>
                    <p>Terms and Conditions</p>
                    <p>Privacy Policy</p>
                </div>
                <div class="box">
                    <h2>TOOLS</h2>
                    <p>Articles</p>
                    <p>Rocket's Team</p>
                    <p>Forums</p>
                </div>
                <div class="box">
                    <h2>CONTACT US</h2>
                    <p>Articles</p>
                    <h2>GET IN TOUCH</h2>
                    <i class="ph ph-facebook-logo"></i><i class="ph ph-instagram-logo"></i><i class="ph ph-x-logo"></i>
                </div>
            </div>
        </footer>
    </body>
</html>