<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rocket</title>
        <link rel="stylesheet" href="styles/homepage_styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
        <script src="https://unpkg.com/@phosphor-icons/web"></script>
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/@phosphor-icons/web@2.1.1/src/bold/style.css"/>
    </head>
    <body>
        <header>
        </header>

        <main>
            <div class="main-text">
                <div class="welcome-bar">
                    Welcome, Marcus!
                </div>
                <h1>A collaborative space for ideation.</h1>
                <p>Welcome to Rocket, a platform where collaboration breeds new ideas.</p>
                <div class="new-request-btn">Create a request</div>
            </div>
        </main>

        <footer>

        </footer>
    </body>
</html>