<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rocket</title>
        <link rel="stylesheet" href="styles/login_styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
        <script src="https://unpkg.com/@phosphor-icons/web"></script>
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/@phosphor-icons/web@2.1.1/src/bold/style.css"/>
    </head>
    <body>
        <section class="color-side">
            <img src="images/astronaut-helmet.png" alt="" width="270px" height="270px">
            <h1>Getting Ready</h1>
            <h2>Live the Rocket’s experience. Easy to use.<br>Efficiency guaranteed.</h2>
        </section>
        <section class="login-side">
            <a href="../index.html"><div class="logo">
                <img src="images/rocket-logo.png" alt="" width="35vw" height="35vw">
                <span style="font-size: 2vw; margin-left: 10px;">Rocket</span>
            </div></a>
            <h1>Welcome back!</h1>
            <form action="" class="login-form">
                <p>Username</p><br>
                <input type="text" id="username" class="login-input">
                <p>Password</p><br>
                <input type="password" id="username" class="login-input" style="margin-bottom: -10px;">
                <p class="forgot-password">I forgot my password</p>
            </form>
            <a href="homepage.html"><button class="sign-in-btn">Sign In</button></a>
            <div class="or">
                <div class="gray-line"></div>or<div class="gray-line"></div>
            </div>
            <a href="create-account.html"><button class="create-account-btn">Create an account</button></a>
        </section>
    </body>
</html>